name: OWASP ZAP Integration with GitHub Actions Mi Banco

on:
  push:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the web application
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
           ref: master
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: 'https://www.mibanco.com.pe/'
          cmd_options: '-a'
